<%- include("../includes/head") %>
<section class="mx-auto">
    <a href="/">Go back home</a>
    <h1 class="title">Register now!</h1>
    <form action="/register" method="post">
      <div>
        <label for="email">Enter email</label>
        <input type="text" id="email" name="email" />
      </div>
      <div>
        <label for="password">Enter Password</label>
        <input type="password" id="password" name="password" />
      </div>
      <button>Create Account</button>
    </form>
  </section>
</body>
<%- include("../includes/foot") %>
