<%- include("../includes/head") %>
<section class="premium">
    <div class="card">
        <h1>IO Premium</h1>
        <ul>
            <li>Save blog as PDF file</li>
            <li>Animate profile badge</li>
            <li>set unlimited username</li>
        </ul>
        <p>Buy IO Premium</p>
    </div>
  </section>
</body>
<%- include("../includes/foot") %>
